/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";


@layer components {
  /*.login-credentials-screen {*/
  /*  @apply*/
  /*  size-screen*/
  /*  flex*/
  /*  flex-row*/
  /*  justify-content-center*/
  /*  align-items-center*/
  /*  gap-7*/
  /*  p-7*/
  /*}*/

  .login-credentials-favicon {
    @apply
    /*h-[45vmax]*/
    w-[45vmax]
  }

  .login-credentials-panel {
    @apply
    bg-blue-300
    opacity-75
    rounded-3xl
    shadow
    border
    border-slate-200
    flex
    flex-col
    p-7
    space-y-3
    w-[45vmax]
    h-[45vmax]
  }

  .login-credentials-input-container {
    @apply
    relative
    pt-2
    mt-5
  }

  .login-credentials-field {
    @apply
    bg-white
    rounded-xl
    shadow
    border
    pl-2.5
    text-lg
    w-full
    pl-10
    p-1
  }

  .login-credentials-field-icon {
    @apply
    absolute
    left-3
    top-1/2
    transform
    -translate-y-1/3
    w-4
    h-4
    text-shadow-gray-700
    pointer-events-none
  }

  .login-credentials-field-show-or-hide-password-icon {
    @apply
    absolute
    right-3
    top-1/2
    transform
    -translate-y-1/3
    w-4
    h-4
    text-shadow-gray-700
    hover:cursor-pointer
  }

  .login-credentials-submit-button {
    @apply
    rounded-md
    bg-blue-500
    px-10
    py-5
    text-balance
    font-semibold
    text-white
    hover:cursor-pointer
    hover:scale-105
    focus-visible:outline-2
    focus-visible:outline-offset-3
    focus-visible:outline-blue-600
  }

  .register-button {
    @apply
      mr-6
    rounded-md
    bg-blue-400
    px-8
    py-4
    text-balance
    font-semibold
    text-white
    hover:cursor-pointer
    hover:scale-105
    focus-visible:outline-1
    focus-visible:outline-offset-2
    focus-visible:outline-blue-500
  }
}
